{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Popular Movies {{tag}} - {{ parent() }}
{% endblock %}
{% block meta_description %} 
    Popular Movies  {{tag}} Online and for free. List all movies by  {{tag}} to watch for free Online and for Free no popup.
{% endblock %}
{% block body %}

    <div class="media">
        <h2><span class="title">{{tag}}</span>
        </h2>
        <ol itemtype="http://schema.org/BreadcrumbList" itemscope="" class="breadcrumb"> 
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                <a title="Watching movies online" href="{{ path('homepage') }}" itemprop="item"><span itemprop="name">Home</span></a>
            </li> 
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"> 
                <a title="Movies" href="{{ path('popularMovies') }}" itemprop="item"><span itemprop="name">Movies</span></a> 
            </li> 
              <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"> 
                <a title="Movies" href="{{ path('moviestag', {'tag': tag|GenerateSlug}) }}" itemprop="item"><span itemprop="name">{{tag}}</span></a> 
            </li> 
        </ol> 
        {% include 'AppBundle::listingmovies.html.twig' %}

    </div>

{% endblock %}
