{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{tvshow.name}} {{movie.name}} - - TheMovieshow.biz
{% endblock %}
{% block meta_description %} 
   Watch {{tvshow.name}} Saison {{movie.name}} Online Free latest tv-shows Watch {{tvshow.name}} in 2016 with HD quality for free tv-series streaming Online. 
{% endblock %}

{% block body %}
    <div id="body-wrapper">
        <div class="watching">
            <div id="body-wrapper">
                <div itemtype="http://data-vocabulary.org/Review-aggregate" itemscope="" data-short-url="http://fmovies.to/film/7lr6" data-cover="" data-id="7lr6" id="movie" class="container"> 
                   <ol itemtype="http://schema.org/BreadcrumbList" itemscope="" class="breadcrumb"> 
                        <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                            <a title="Watching movies online" href="{{ path('homepage') }}" itemprop="item"><span itemprop="name">Home</span></a>
                        </li> 
                        <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"> 
                            <a title="Movies" href="{{ path('tvshow') }}" itemprop="item"><span itemprop="name">Tv show</span></a> 
                        </li> 
                           <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement" class=""> 
                            <a title=" {{tvshow.name}}" href="{{ path('viewtvshow', {'slug': tvshow.name|GenerateSlug, 'id': tvshow.id}) }}" itemprop="item">
                                <span itemprop="name"> {{tvshow.name}}</span></a> 
                        </li> 
                        <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement" class="active"> 
                            <a title=" {{movie.name}}" href="{{ path('viewseasonshow', {'slug': tvshow.name|GenerateSlug, 'id': tvshow.id,'idseason': movie.seasonNumber}) }}" itemprop="item">
                                <span itemprop="name"> {{movie.name}}</span></a> 
                        </li> 
                    </ol> 
                    <div class="widget">   
                        <div class="mt row"> 
                            <div class="col-left col-md-14 col-xs-24"> 
                                <div class="mt" id="info">
                                    <div class="row">
                                        <div class="thumb col-md-6 hidden-sm hidden-xs"> 
                                            <img width="185" height="278" src="https://image.tmdb.org/t/p/w185{{movie.posterPath}}" class="shadow" title=" {{movie.name}}" alt=" {{movie.name}}" id="upload_poster" itemprop="image">

                                        </div>
                                        <div class="info col-md-18"> 
                                            <div itemtype="http://schema.org/Movie" itemscope="" itemprop="itemReviewed"> 
                                                <h1 itemprop="name" class="name">Watch {{movie.name}} Online</h1> 
                                                <div class="meta">
                                                    <span> <span class="imdb">IMDb</span> <b>7.5</b> </span> 
                                                    <span> <i class="fa fa-clock-o"></i> <b> min</b> </span> 
                                                </div>  
                                                <div itemprop="description" class="desc">
                                                    <div class="shortcontent">

                                                        <p itemprop="description" id="overview"> {{movie.overview}}</p>
                                                    </div>
                                                </div> 

                                            </div>
                                        </div> 
                                    </div> 
                                </div>

                                <div id="info" class="mt">
                                    <div class="col-left col-md-24 col-xs-24">
                                        <div class="popup-gallery">

                                            {% for item in listImages %}

                                                <a href="https://image.tmdb.org/t/p/original{{item.filePath}}" title="The Cleaner"><img src="https://image.tmdb.org/t/p/w185{{item.filePath}}" height="100" width="75"></a>
                                                {% endfor %}
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-left col-md-8 col-xs-24"> 
                                <ul class="media_items">
                                    {% for item in listEpisodes %}
                                    
                                        <li class="w92">
                                            <a href="{{ path('viewepisodeshow', {'slug': tvshow.name|GenerateSlug, 'id': idTv,'idseason': item.seasonNumber,'idepisode':item.episodeNumber}) }}"><img width="65"  src="https://image.tmdb.org/t/p/w75/{{ item.stillPath }}" title="{{movie.name}} - Saison {{item.seasonNumber}}" alt="{{movie.name}} - Saison {{item.seasonNumber}}" class="shadow"></a>
                                            <a href="{{ path('viewepisodeshow', {'slug': tvshow.name|GenerateSlug, 'id': idTv,'idseason': item.seasonNumber,'idepisode':item.episodeNumber}) }}" class="title">{{item.name}} - Saison {{item.episodeNumber}} </a>
                                        </li>
                                    {% endfor %}
                                    <div style="clear: both;"></div>
                                </ul> 

                            </div>
                        </div> 

                    </div>
                </div> 

            </div>
        </div>
    </div>
{% endblock %}
