{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Watch {{movie.name}} Online Free- - watchmoviestv.net
{% endblock %}
{% block meta_description %} 
  Watch {{movie.name}} Saison Online Free latest tv-shows Watch {{movie.name}} in 2016 with HD quality for free tv-series Online. {{movie.overview|slice(0, 50)}} 
{% endblock %}

 {% block alternate %}
    <link rel="alternate" href="{{ path('viewtvshow', {'slug': movie.name|GenerateSlug, 'id': movie.id}) }}" hreflang="en-us" />
{% endblock %}

{% block body %}

  <div id="body-wrapper">
    <div class="watching">
      <div id="body-wrapper">
        <div itemtype="http://data-vocabulary.org/Review-aggregate" itemscope="" data-short-url="{{ path('viewtvshow', {'slug': movie.name|GenerateSlug, 'id': movie.id}) }}" data-cover="" data-id="{{movie.id}}" id="movie" class="container">

          <ol itemtype="http://schema.org/BreadcrumbList" itemscope="" class="breadcrumb"> 
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
              <a title="Watching movies online" href="{{ path('homepage') }}" itemprop="item"><span itemprop="name">Home</span></a>
            </li> 
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"> 
              <a title="Movies" href="{{ path('tvshow') }}" itemprop="item"><span itemprop="name">Tv show</span></a> 
            </li> 
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement" class="active"> 
              <a title=" {{movie.name}}" href="{{ path('viewtvshow', {'slug': movie.name|GenerateSlug, 'id': movie.id}) }}" itemprop="item">
                <span itemprop="name"> {{movie.name}}</span></a> 
            </li> 
          </ol>
          <div class="widget">   
            <div class="mt row">
              <div class="col-left col-md-14 col-xs-24"> 
                <span class="hidden" itemprop="votes">{{movie.voteCount}}</span>
                <span class="hidden" itemtype="http://data-vocabulary.org/Rating" itemscope itemprop="rating"> <span itemprop="average">{{movie.voteAverage}}</span> <meta itemprop="best" content="10"> <meta itemprop="worst" content="1"> </span>

                <div itemtype="http://schema.org/Movie" itemscope="" itemprop="itemReviewed"> 
                  <div class="mt" id="info">
                      <span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_fblike_large' displayText='Facebook Like'></span>
<span class='st_plusone_large' displayText='Google +1'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_fbrec_large' displayText='Facebook Recommend'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
                    <div class="row">
                      <div class="thumb col-md-6 hidden-sm hidden-xs"> 
                        <img src="{{ asset('img/blank.gif') }}" width="185" height="278" data-echo="https://image.tmdb.org/t/p/w185{{movie.posterPath}}" class="shadow" title="{{movie.name}}" alt="{{movie.name}}" id="upload_poster" itemprop="image">
                          <iframe data-echo="http://hlok.qertewrt.com/smart_ad/display?ref=5090688&q=KEYWORD&smart_ad_id=13974" width="158" height="21" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                          <a href="http://hlok.qertewrt.com/offer?prod=139&ref=5090732" class="myButton">PLAY NOW</a>

                      </div>
                      <div class="info col-md-18"> 

                        <h1 itemprop="name" class="name">Watch {{movie.name}} Online</h1>
                          <a href="http://hlok.qertewrt.com/offer?prod=3&ref=5090688"><img src="{{ asset('img/blank.gif') }}" class="img-responsive" style="display:inline-block;" data-echo="http://www.photo-host.org/images/2017/01/31/7iQFf8uR.gif"></a>

                          <div class="meta">
                          <span> <span class="imdb">IMDb</span> <b>7.5</b> </span> 
                          <span> <i class="fa fa-clock-o"></i> <b> min</b> </span> 
                        </div>  
                        <div itemprop="description" class="desc">
                          <div class="shortcontent">

                            <p itemprop="description" id="overview">   {{movie.overview}}</p>
                          </div>
                        </div> 
                        <div class="row"> 
                          <dl class="meta col-sm-12"> 
                            <dt>Genre:</dt> 
                            <dd>
                              {% for genre in movie.genres %}
                                <a title="{{ genre.name }} movies" href="#">{{ genre.name }}</a>,
                              {% endfor %}
                            </dd>

                            <dt>Stars:</dt>
                            <dd>
                              {% for item in movie.credits.cast|slice(0, 5) %}

                                <a title="{{ item.name }} movies" href="{{ path('viewpeople', {'slug': item.name|GenerateSlug, 'id': item.id}) }}">{{ item.name }}</a>,
                              {% endfor %}
                            </dd> 
                            {% if movie.createdBy is defined %}
                              <dt>Director:</dt>
                              {% for item in movie.createdBy %}
                                <a href="{{ path('viewpeople', {'slug': item.name|GenerateSlug, 'id': item.id}) }}">
                                  <span itemtype="http://schema.org/Person" itemscope="" itemprop="director">
                                    <span itemprop="name">{{item.name}}</span>
                                  </span>
                                </a>
                              {% endfor %}
                            {% endif %}
                            {% if crewList.Producer is defined %}
                              <dt>Producer:</dt>
                              {% for item in crewList.Producer %}
                                <a href="#">
                                  <span itemtype="http://schema.org/Person" itemscope="" itemprop="producer">
                                    <span itemprop="name">{{item.name}}</span>
                                  </span>
                                </a>
                              {% endfor %}
                            {% endif %}
                            {% if crewList.Story is defined %}
                              <dt>Writers:</dt>
                              {% for item in crewList.Story %}
                                <span itemtype="http://schema.org/Person" itemscope="" itemprop="author">
                                  <a itemprop="url" href="#"><span itemprop="name">{{item.name}}</span></a>

                                </span>
                              {% endfor %}
                            {% endif %}
                            {% if movie.productionCountries is defined %}
                              <dt>Country:</dt>
                              <dd>

                                {% for item in movie.productionCountries|slice(0, 1) %}

                                <dd> {{ item.name }}</dd>
                              {% endfor %}
                              </dd>
                            {% endif %}
                          </dl> 
                           <dl class="meta col-sm-12"> 
                             <dt>Date created :</dt>
                             
                             <dt><span itemprop="dateCreated">{{movie.firstAirDate.format('m/d/Y')}}</span></dt> 
                              </dl>
                          <dl class="meta col-sm-12"> 
                            <dt>Rating:</dt>

                            <dd itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating" itemscope="" class="rating"> 
                              <span itemprop="ratingValue">{{movie.voteAverage}}</span> / <span itemprop="ratingCount">{{movie.voteCount}}</span> times 
                              <meta content="10" itemprop="bestRating">
                              <meta content="1" itemprop="worstRating"> 
                            </dd>

                            <dt>Quality:</dt> 
                            <dd><span class="quality">HD 720p</span></dd>
                            <dt>Popularity:</dt> <dd>{{movie.popularity}}</dd>
                          </dl>

                        </div> 
                      </div>
                    </div> 
                  </div> 
                </div>

                <div id="info" class="mt">
                  <div class="col-left col-md-24 col-xs-24">
                    <ul class="media_items">
                      {% for item in listSeasons %}
                        <li class="w92">
                          <a href="{{ path('viewseasonshow', {'slug': movie.name|GenerateSlug, 'id': movie.id,'idseason': item.seasonNumber}) }}"><img src="{{ asset('img/blank.gif') }}" width="65"  data-echo="https://image.tmdb.org/t/p/w75/{{ item.posterPath }}" title="{{movie.name}} - Saison {{item.seasonNumber}}" alt="{{movie.name}} - Saison {{item.seasonNumber}}" class="shadow"></a>
                          <a href="{{ path('viewseasonshow', {'slug': movie.name|GenerateSlug, 'id': movie.id,'idseason': item.seasonNumber}) }}" class="title">{{movie.name}} - Saison {{item.seasonNumber}} </a>
                        </li>
                      {% endfor %}
                      <div style="clear: both;"></div>
                    </ul> 
                  </div>
                </div>
              </div>
              <div class="col-left col-md-10 col-xs-14">
                <ul class="media_items">
                  {% for item in castList|slice(0, 10) %}
                    <li class="w92">
                      <a href="{{ path('viewpeople', {'slug': item.name|GenerateSlug, 'id': item.id}) }}"><img src="{{ asset('img/blank.gif') }}" width="65"  data-echo="https://image.tmdb.org/t/p/w75/{{ item.profilePath }}" title="Le Trône de fer" alt="Le Trône de fer" class="shadow"></a>
                      <a href="{{ path('viewpeople', {'slug': item.name|GenerateSlug, 'id': item.id}) }}" class="title">{{ item.name }}  as {{ item.character }}</a>
                    </li>
                  {% endfor %}
                  <div style="clear: both;"></div>
                </ul>
              </div>
            </div>

            <div class="mt row">
              <div class="col-left col-md-24 col-xs-24">
                <ul class="media_items">
                  {% for item in listMovies %}

                    <li class="w92">
                      <a href="{{ path('viewtvshow', {'slug': item.name|GenerateSlug, 'id': item.id}) }}"><img src="{{ asset('img/blank.gif') }}" width="65"  data-echo="https://image.tmdb.org/t/p/w75/{{ item.posterPath }}" title="{{ item.name }}" alt="{{ item.name }}" class="shadow"></a>
                      <a href="{{ path('viewtvshow', {'slug': item.name|GenerateSlug, 'id': item.id}) }}" class="title">{{ item.name }} </a>
                    </li>
                  {% endfor %}
                  <div style="clear: both;"></div>
                </ul> 
              </div>
            </div>

          </div>
        </div> 

      </div>
    </div>
  </div>
{% endblock %}
